*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* .container{
    width: 100vw;
} */


/* Slider Section */

.slider--section{
    display: relative;
    z-index: -1;
}

.left--logo{
    position: absolute;
    left: 20px;
    top: 10px;
    z-index: 1;
}

.right--logo{
    position: absolute;
    right: 20px;
    top: 10px;
    z-index: 1;
}

.carousel-item img{
    height: 400px;
}



/* Slider Controller Section */

.carousel-control-prev{
    /* background-color: #070606f1; */
    position: absolute;
    top: 90%;
    left: 550px;
}

.carousel-control-next{
    /* background-color: #070606f1; */
    position: absolute;
    top: 90%;
    right: 550px;
}

.carousel-control-prev-icon{
    background-color: black;
    font-weight: 200px;
    padding: 10px;
}

.carousel-control-next-icon{
    background-color: black;
}

.carousel-control-next-icon:hover{
    background-color: red;
}


.carousel-control-prev-icon:hover{
    background-color: red;
}





/* Navigational Bar Section */

.navbar{
    margin-left: 120px;
    /* display: flex;
    justify-content:space-around;
    align-items: center; */
}

/* .navbar .nav-item {
    display: inline-block;
    justify-content:center;
    align-items: center;
} */


.navbar-nav .nav-item {
    padding: 6px 12px;
    height: 70px;
    text-align: center;
    border-right: 1px solid #e8e8e8;
    cursor: pointer;
}

.navbar ul li:hover{
    background-color: #344807  !important;
    color: #e8e8e8;
}

.navbar .navbar-nav .nav-item .nav-link{
    color: #333;
    font-size: 14px;
}

.navbar .nav-item .nav-link:hover, .navbar .nav-item i:hover{
    color: #ffffff !important;
    transition: all 0.2s ease 0s;
}


/* .navbar .nav-item a:hover{
    color: white !important;
} */

.activate--state{
    background-color: #344807;
    height: 63px;
    text-align: center;
}

.nav-item .activate--state i, p{
    /* padding: 8px 15px; */
    color: #fff;
}


/* .navbar > .dropdown > .nav-link i:hover, .navbar > .dropdown > .nav-link p:hover{
    color: white !important;
} */


/* Dropsdown Section */

.dropdown-menu .dropdown-item{
    border-right: 1px solid #e6e6e6;
    border-left: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
    background: #fff;
    padding: 12px 20px !important;
}


.dropdown-menu .dropdown-item:hover{
    color: #333;
}


/* Page Heading Paragraph Section */

.text-description{
    margin-top: 30px;
    margin-left: 200px;
}

.text-description h2{
    font-size: 28px;
    font-weight: 600;
    margin-left: 25px;
}

.paragraph-text{
    font-size: 1.08em;
    line-height: 22px;
    padding: 0 50px;
    color: #888;
    margin-left: 30px;
}



/* Card Image and Icon Section */

.card--description__text{
    margin-left: 200px;
    height: 500px;
    position: relative;
}

.card-title{
    margin-bottom: 3px;
    font-weight: 600;
    color: #444;
    font-size: 22px;
}

.card-group{
    margin-left: -100px;
}

.card-group .card{
    border: none;
    /* margin: 0 60px; */
    height: 450px;
    padding: 50px 0px;
}

.card--description{
    border: 1px solid #8888883f;
    margin: 0 20px;
    padding: 80px 10px;
    width: 300px;
    background-color: #88888813;
}


.card--description:hover{
    background-color: #e6e6e6;
}

.card--general__title{
    margin-top: 8px;
    color: #344807 !important;
}

.card-text p{
    margin-top: 34px;
    line-height: 18px;
    color: #333;
}

.desktop--icon .settings--icon, .user--icon{
    /* float: left; */
    width: 65px;
    height: 75px;
    /* position: relative; */
}

.icon-feature{
    display: inline-block;
}

.desktop--icon{
    position: absolute;
    top: 780px;
    left: 20%;
    z-index: 4;
}

.settings--icon{
    position: absolute;
    top: 780px;
    left: 50%;
    z-index: 4;
}

.user--icon{
    position: absolute;
    top: 780px;
    right: 15%;
    z-index: 4;
}


.icon-feature .desktop{
    position: absolute;
    top: 795px;
    left: 21%;
    z-index: 5; 
    color: #fff;
    font-size: 30px;
}


.icon-feature .settings{
    position: absolute;
    top: 795px;
    left: 51%;
    z-index: 6; 
    color: #fff;
    font-size: 30px;
}


.icon-feature .profile{
    position: absolute;
    top: 795px;
    right: 16%;
    z-index: 7; 
    color: #fff;
    font-size: 30px;
}


/* Recent Post Section */

.recent--post{
    margin-top: 60px !important;
    margin-left: 40px;
}

.recent--post .post--leftside hr{
    background-color: #344807;
    font-size: 23px;
    /* padding: 0 20px; */
    width: 80%;
    margin: 20px 200px;
}

.recent--post .post--rightside hr{
    background-color: #344807;
    font-size: 23px;
    /* padding: 0 20px; */
    width: 80%;
    margin: 20px -100px;
}


.gallary-photos .my-slider--item{
    margin-left: 5px !important;
}


/* News and Feed Section */
.news--post{
    margin-top: 60px !important;
}

.news--post .newspost--leftside hr{
    background-color: #344807;
    font-size: 23px;
    /* padding: 0 20px; */
    width: 80%;
    margin: 20px 170px;
}


.news--post .newspost--rightside hr{
    background-color: #344807;
    font-size: 23px;
    /* padding: 0 20px; */
    width: 80%;
    margin: 20px -70px;
}



/* footer section */
.footer-left-menu{
    color: #bbb;
    font-size: 14px;
}
.footer-right-menu a{
    color: #bbb;
    text-decoration: none;
}
.footer-right-menu a:hover {
    color: black;
    font-weight: bold;
}
.copyright-footer{
    background-color: #303030;
    padding: 15px 0px;
}
.copyright-footer .text-right{
    text-align: right;
}
.copyright-footer a{
    color: #777;
    text-decoration: none;
}
.copyright-footer a:hover{
    color: black;
    font-weight: bold;
}